@charset "utf-8"

$white: #dddddd
$black: #3A3F3D
$blue: #4AD1F3

$base-color: $black
$main-color: $black
$accent-color: $blue
$text-color: $white

@import options/glitch/glitch
.header__site-title-link
  +glitch($text-color, $main-color)
